@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}




html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}


.iconsOpacity:hover {
  color: #FAB207;
}

.cool-button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #FE3B42;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.cool-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.6s ease;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.cool-button:hover::before {
  width: 0;
  height: 0;
}

.cool-button:hover {
  color: #FE3B42;
  background-color: #0A0D14;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition-delay: 0.3s;
  z-index: 1;
}



.hoverable-text {
  position: relative;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;

}

.hoverable-text::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #FAB207;
  bottom: 0;
  left: 0%;
  
  transform: translateX(0%);
  transition: width 0.5s ease, left 0.5s ease;
}

/* Animation on hover */
.hoverable-text:hover::before {
  width: 100%;
  left: 0%;
}


/* Style for the link */
.hoverable-text,
.active {
  position: relative;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
}

/* Style for the line */
.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FAB207;
  bottom: 0;
  left: 0%;
  transform: translateX(0%);
  transition: width 0.3s ease, left 0.3s ease;
}


/* components/CustomCursor.module.css */

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  z-index: 9999;
  /* Ensure it's above other elements */
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.cursor-animation {
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.grayscale {
  filter: grayscale(100%);
}

/* Customize cursor appearance */
.w-4,
.h-4 {
  width: 16px;
  height: 16px;
}

.bg-transparent {
  background-color: transparent;
}

.rounded-full {
  border-radius: 50%;
  border-width: 2px;
}

.border-solid {
  border-style: solid;
}

/* Customize cursor animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.transitionTransform {
  transition: all 2s ease-in-out;
}

/* components/LoadingPage.module.css */

.loadingContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202328;
}

.loadingContent {
  color: #fff;
}

.loadingSpinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #FE3B42;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.loadingText {
  font-size: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Loader.css */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}

.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}

.pl__ball {
  animation-name: ball;
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }

  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }

  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}

@keyframes ball {

  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }

  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }

  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }

  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }

  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}


.gym-name-container {
  position: relative;
  width: 100%;
  height: 200px;
  /* Adjust height as needed */
  background-color: #222;
  /* Background color of the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gym-name {
  font-size: 3em;
  /* Adjust font size as needed */
  color: #fff;
  /* Color of the gym name */
  animation: cool-animation 5s infinite;
  /* Customize animation duration */
}

@keyframes cool-animation {
  0% {
    transform: translateY(-50px);
    /* Initial position */
    opacity: 0;
    /* Initial opacity */
  }

  50% {
    transform: translateY(0);
    /* Middle position */
    opacity: 1;
    /* Middle opacity */
  }

  100% {
    transform: translateY(-50px);
    /* Final position */
    opacity: 0;
    /* Final opacity */
  }
}


/* @keyframes text-animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */

.animate-text {
  animation: text-animation 5s ease-in-out infinite;
}



.animateNav {
  transition: all 3s;
  /* animation: nav 3s cubic-bezier(0.19, 1, 0.22, 1); */
}

@keyframes nav {
  0% {
    opacity: .5;
    /* height: 5%; */
  }

  25% {
    opacity: .2;
    /* height: 15%; */
  }

  50% {
    opacity: .1;
    /* height: 35%; */
  }

  75% {
    opacity: 0;
    /* height: 75%; */
  }

  100% {
    opacity: 0;
    /* height: 100%; */
  }
}



/* nav */


.carosal main {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.carosal .item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) {
    left: 50%;
  }

  &:nth-child(4) {
    left: calc(50% + 220px);
  }

  &:nth-child(5) {
    left: calc(50% + 440px);
  }

  &:nth-child(6) {
    left: calc(50% + 660px);
    opacity: 0;
  }
}

.carosal .content {
  width: min(30vw, 400px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: 'arial-black';
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  & .description {
    line-height: 2.2;
    font-size: 3.5rem;
    font-weight: 400;
    word-wrap: nowrap;
    white-space: nowrap;
  }

  & button {
    width: 210px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    /* border-radius: 0.25rem; */
    padding: 0.75rem;
    cursor: pointer;
    letter-spacing: 3px;

  }
}

.carosal .item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.carosal .nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title {
      font-size: 1rem;
    }

    & .description {
      font-size: 0.7rem;
    }

    & button {
      font-size: 0.7rem;
    }
  }

  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) {
      left: 50%;
    }

    &:nth-child(4) {
      left: calc(50% + 170px);
    }

    &:nth-child(5) {
      left: calc(50% + 340px);
    }

    &:nth-child(6) {
      left: calc(50% + 510px);
      opacity: 0;
    }
  }
}

@media (width < 650px) {
  .content {
    & .title {
      font-size: 0.9rem;
    }

    & .description {
      font-size: 0.65rem;
    }

    & button {
      font-size: 0.7rem;
    }
  }

  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) {
      left: 50%;
    }

    &:nth-child(4) {
      left: calc(50% + 140px);
    }

    &:nth-child(5) {
      left: calc(50% + 280px);
    }

    &:nth-child(6) {
      left: calc(50% + 420px);
      opacity: 0;
    }
  }
}


/* what we do */
.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}

.snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.snip1527 .date span {
  display: block;
  line-height: 14px;
}

.snip1527 .date .month {
  font-size: 11px;
}

.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}







/* animate image */


/* Define the CSS animation for scaling the image */
.animateTabImage {
  animation-name: scaleAnimation;
  animation-duration: 1s;
  animation-timing-function: ease;
}

/* Define the keyframes for the scaling animation */
@keyframes scaleAnimation {
  0% {
    transform: scale(0.5);
    /* Start with smaller scale */
  }

  100% {
    transform: scale(1);
    /* End with larger scale */
  }
}



/* footer */
.sub-footer {
  /* height: 350px; */
  width: 100%;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 20px 0px;
  color: #fff;
}

.sub-footer h1 {
  font-size: 20px;
}

.sub-footer ul {
  margin-top: 40px;
}

.sub-footer li {
  font-size: 15px;
  margin-top: 25px;
}

footer {
  background-color: #000;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

footer h1 {
  font-size: 10px;
}

footer .part-2 {
  display: flex;
  gap: 20px;
}

footer .part-2 i {
  font-size: 20px;
}


/*  */
@media screen and (max-width:768px) {
  .sub-footer {
    gap: 30px;
    color: #fff;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .sub-footer h1 {
    font-size: 17px;
    font-weight: 750;
  }

  .sub-footer ul {
    margin-top: 20px;
  }

  .sub-footer li {
    font-size: 13.5px;
    margin-top: 20px;
  }
}
/*  */
@media screen and (max-width:460px) {
  .sub-footer {
    padding: 20px;
  }

  footer {
    padding: 20px;
  }

  footer h1 {
    font-size: 14px;
  }

  footer .part-2 {
    gap: 10px;
  }
}




/* review */
.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
}

.container {
  position: relative;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.next {
  right: 0;
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #dadada;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #DCB800;
}

/* text animatin on home page */
.animateHeading {
  animation: anim 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes anim {
  0% {
    scale: 1.3;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}


/* animateDis */
/* animatebtm */